<% if homepage.present? %>
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="navbar-collapse">
          <span class="sr-only">
            Toggle navigation
          </span>

          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <%= cms_tag(:a, homepage, :headline, class: 'navbar-brand', href: cms_path(homepage)) %>
      </div>

      <div class="navbar-collapse collapse">
        <%= render('layouts/search', search_page: homepage.search_page, query: params[:q]) %>
        <%= render('layouts/login', login_page: homepage.login_page, current_user: current_user) %>

        <%= cms_tag_list(:ul, homepage, :toclist, class: 'nav navbar-nav', id: 'main_nav') do |list, obj| %>
          <% list.tag(:li, id: "main_nav_page_#{obj.id}", data: { path: obj.path }) do %>
            <%= link_to(cms_path(obj)) do %>
              <%= display_field(obj, :headline) %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
