<div class="details-view">
  <h4>
    Source
  </h4>

  <%= cms_tag(:div, widget, :source, data: { filter: 'videos' }) %>

  <h4>
    Poster
  </h4>

  <%= cms_tag(:div, widget, :poster, data: { filter: 'images' }) %>

  <h4>
    Width
  </h4>

  <%= cms_tag(:div, widget, :width, data: { editor: 'slider', min: 100, max: 1000, step: 10 }) %>

  <h4>
    Height
  </h4>

  <%= cms_tag(:div, widget, :height, data: { editor: 'slider', min: 100, max: 600, step: 10 }) %>

  <h4>
    Autoplay
  </h4>

  <%= cms_edit_enum(widget, :autoplay) %>
</div>
